services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - backend/.env
    environment:
      - DATABASE_URL=postgres://postgres:1234@db:5432/bankiq
    ports:
      - '8000:8000'
    networks:
      - bankIQ

  migrations:
    build:
      context: ./backend
    container_name: migrations
    command: ['/bin/sh', '-c', 'python manage.py migrate && python manage.py init_formtypes']
    environment:
      - DATABASE_URL=postgres://postgres:1234@db:5432/bankiq
    networks:
      - bankIQ
    depends_on:
      db:
        condition: service_healthy
    restart: no

  db:
    image: postgres:14
    container_name: postgres
    restart: unless-stopped
    env_file:
      - backend/.env
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-1234}
      - POSTGRES_DB=${POSTGRES_DB:-bankiq}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} "]
      interval: 10s
      timeout: 5s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - bankIQ

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    container_name: frontend
    restart: unless-stopped
    ports:
      - '5173:5173'
    environment:
      - VITE_API_URL=http://backend:8000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - bankIQ

volumes:
  pg_data:

networks:
  bankIQ:
    driver: bridge
