.section {
  width: 100%;

  &--padding {
    &-none {
      padding: 0;
    }

    &-small {
      padding: 16px 20px;
    }

    &-medium {
      padding: 24px 20px;
    }

    &-large {
      padding: 32px 20px;
    }
  }

  &--background {
    &-primary {
      background: $background-primary;
    }

    &-secondary {
      background: $background-secondary;
    }

    &-transparent {
      background: transparent;
    }
  }

  &--bordered {
    background: $background-secondary;
    border: 1px solid $text-white-primary;
    border-radius: 12px;
    box-shadow: 0 1px 3px $background-primary-shadow;
    transition: box-shadow 0.2s ease;
    &:hover {
      box-shadow: 0 4px 12px $background-primary-shadow-hover;
    }
  }
}
