html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-primary;
  color: $text-primary;
  font-family: 'Mulish', serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline: 10vw;
}
