html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-primary;
  color: $text-primary;
  font-family: 'Mulish', serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline: 10vw;
}

* {
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar-button {
    display: none;
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    margin: 20px 0;
    background-color: #a7a7a7;
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}
