/* Modern CSS Reset */
:root {
  --vh: 1vh;
}

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  text-size-adjust: 100%; // Prevent font scaling on orientation change
  -webkit-text-size-adjust: 100%;
}

/* Set core body defaults */
body {
  height: 100%;
  min-height: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Remove list styles and allow proper margin/padding */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Remove default link styles */
a,
a:active,
a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent; // Remove tap highlight on mobile
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  user-select: none; // Prevent image selection

  display: block;

  max-width: 100%;
  height: auto; // Maintain aspect ratio

  -webkit-user-drag: none; // Prevent image dragging
}

/* Preserve aspect ratio */
iframe {
  display: block; // Remove inline spacing
  max-width: 100%;
  border: none;
}

/* Form elements */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;

  font: inherit;
  color: inherit;

  -webkit-appearance: none; // Remove default styles on iOS
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/* Remove default button styles */
button {
  cursor: pointer;

  padding: 0;

  font: inherit;
  color: inherit;

  background: transparent;
  border: none;
}

/* Remove default fieldset styles */
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

/* Text selection */
::selection {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Table defaults */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

/* Create a root stacking context */
#root {
  isolation: isolate;
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  height: calc(var(--vh) * 100);
}

/* Remove default dialog styles */
dialog {
  padding: 0;
  background: transparent;
  border: none;
}

/* Remove details marker */
details summary {
  cursor: pointer;
  list-style: none;
  &::-webkit-details-marker {
    display: none;
  }
}

/* Correct line height in all browsers */
pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
