.chart-wrapper {
  margin-top: 28px;
  padding: 18px;
  background: linear-gradient(
    180deg,
    $background-secondary,
    $background-primary
  );
  border: 1px solid $text-white-primary;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(16, 24, 40, 0.03);
}

.chart-title {
  margin: 0 0 8px 4px;
  font-size: 16px;
  font-weight: 600;
  color: $text-primary;
}

.legend{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-size: 12px;
  color: $text-primary;
  list-style: none;
  margin: 0;
  padding: 0;
  &__item{
    display: flex;
    align-items: center;
    &-text{
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 3px;
      margin-right: 6px;
    }
  }
}